<footer>
  <p>&copy; Socialville <%= Time.current.year %> 
    <span class="social"><%= link_to ' Follow me on Twitter', "https://twitter.com/SandyVern", 
          class: "fa fa-twitter", :target => "_blank" %>
    </span>
  </p>
</footer>