<h2>Socialville User Profiles</h2>
<% if current_user %>
  <%= render @users %>
 <% end %>
 
 <% if params[:people] == 'friends' && @users.blank? %>
   <h2>Sorry <strong class="username"><%= current_user.username %></strong>, you have no friends. Join now and connect with friends.</h2>
 <% end %>
 
 <% if params[:people] == 'requests' && @users.blank? %>
   <h2>Sorry <strong class="username"><%= current_user.username %></strong>, you have no friend requests at this time.</h2>
 <% end %>
 
 <% if params[:people] == 'pending' && @users.blank? %>
   <h2>Sorry <strong class="username"><%= current_user.username %></strong>, you have no pending friend requests at this time.</h2>
 <% end %>