.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}

.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}

.form-image {
	padding-bottom: 10px;
}

.status {
	padding-bottom: 10px;
}

.username {
	color: #0ce3ac;
}