.navbar-brand {
	font-family: 'Courgette', cursive;
	font-size: 28px;
	font-weight: 700;
}

.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}

.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}

.form-image {
	padding-bottom: 10px;
}

.status {
	padding-bottom: 10px;
}

.username {
	color: #0ce3ac;
}

.fa {
	padding-right: 5px;
}

.no-bullets {
	list-style-type: none;
}

.btn-delete {
	padding-left: 10px;
}

.birthday-text {
	margin-bottom: 5px;
	font-weight: bold;
}

.bday{
	color: #0ce3ac;
	font-weight: bold;
	padding-left: 2px;
}

.chat-img {
	padding-left: 10px;
}

.msg-li {
	list-style-type: none;
}